//fuente
$font-manrope: 'Manrope';
$font-rubik: 'Rubik';

//color
$paleorange: #ffecd0;
$midnightblue: #050c2c;
$boldorange: #f3501e;
$blue: #2d51f3;
$body-bg: $paleorange;
$body-color: $midnightblue;
$link-color: $boldorange;

